body {
    padding: 0 17.7vw;
    background: var(--background-color);
    color: var(--primary-color);
    transition: all 0.3s ease;
}

/* Прописать тёмную тему */
body.dark {
    --background-color: #262626;
    --primary-color: #DDB68C;
    --secondary-color: #664729;
    --bg-color: #664729;
}

header {
    border: 5px solid var(--bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav {
    display: flex;
    gap: 20px;
}

main {
    margin: 20px 0;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    background: var(--primary-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Alumni Sans", sans-serif;
    font-size: 24px;
    width: fit-content;
}

textarea {
    padding: 10px;
    border-radius: 5px;
    background: var(--bg-color);
    color: var(--primary-color);
    outline: none;
    font-family: "Alumni Sans", sans-serif;
    font-size: 24px;
}

textarea::placeholder {
    color: var(--primary-color);
}

input {
    padding: 10px;
    border-radius: 5px;
    background: var(--bg-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    font-family: "Alumni Sans", sans-serif;
    font-size: 24px;
}

input::placeholder {
    color: var(--primary-color);
}

.menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    display: flex;
    gap: 10px;
    text-decoration: none;
    padding: 10px;
    background: var(--secondary-color);
    border-radius: 5px;
    width: stretch;
}

footer {
    background: var(--primary-color);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}