body {
    padding: 0 17.7vw;
    background: var(--background-color);
    color: var(--primary-color);
    transition: all 0.3s ease;
}

/* Прописать тёмную тему */
body.dark {
    --background-color: #262626;
    --primary-color: #DDB68C;
    --secondary-color: #664729;
    --bg-color: #664729;
}

header {
    border: 5px solid var(--bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav {
    display: flex;
    gap: 20px;
}

main {
    margin: 50px 0;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    display: flex;
    gap: 10px;
    text-decoration: none;
    padding: 10px;
    background: var(--secondary-color);
    border-radius: 5px;
    width: stretch;
}

footer {
    background: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}